* {
    font-family: Calibri;
    font-weight: bold;
}

body {
    display: block;
    background-color: #F5F6F7;
    width: 100%;
    margin: 0;
}

header {
	display: inline-block;
}
#animal 
{ 
    position: absolute; width: 100%; height: 100%; 
    z-index: 1; 
    opacity: 1;
}
#test2{
    position: absolute;
    z-index: 2;
}
canvas {
    position: absolute;
}

p {
    position: absolute;
    width: 100%;
    color: rgb(219, 33, 33);
    text-align: center;
    margin: 0;
    bottom: 0;
    background-color: rgb(220, 233, 245);
}
a {
    color: rgb(219, 33, 33);
    background-color: rgba(220, 233, 245, 0.74);
}

hr {
    width: 65%;
    float: left;
    margin-left: 10px;
    height: 2px;
    background-color: black;
    border: 0px;
}

span {
    color: rgb(198, 184, 146);
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(192, 18, 18);
}

.tool-box, .setting-box, .color-box{
    float: left;
    height: 120px;
    border-right: 1px solid #E2E3E4;
    position: relative;
}

.tool-box ul, .setting-box ul{
    padding: 0px 10px;
	list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.color-box ul{
    padding: 0px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.tool-box ul li{
	float: left;
    display: block;
    padding: 10px;
}

.tool-box ul li:hover{
    background-color: #C9E0F7;
}

.color-box ul li{
    float: left;
    display: block;
    padding: 4px;
}

.color-box ul li div{
    height: 20px;
    width: 20px;
}

.color-box-quick{
    height: 50px;
    width: 40px;
    float: left;
    margin: 15px 10px;
    outline: 2px solid white;
}

.color-box ul li div{
    outline: 2px solid white;
}

.color-box-quick:hover, .color-box ul li div:hover, .color-box .active{
    outline: 2px solid grey;
}
.custom-select { 
    padding: 0; 
    margin: 2px; 
    line-height: 1.7em; 
    /*font-size: 12px;*/ 
    cursor: pointer; 
    position: relative; 
    display: inline-block; 
    background: #fff; 
    background-image: linear-gradient(#fff,#f5f5f5 49%,#eaeaea 50%, #f2f2f2); 
    /*border: 1px solid #ccc;*/ 
    border-radius: 4px; 
    text-shadow: 0 1px 1px rgba(255,255,255,0.5); 
    box-shadow: 0 1px 3px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,0.7), inset 0 1px 2px rgba(255,255,255,0.5); 
   }
#inputcolor{
    margin: 12px 10px 0px 5px;
    height: 48px;
}

#rangeThickness{
    width: 150px;
    margin: 12px 0px;
}

input[type="text"]{padding:5px 15px; border:2px black solid; 
    cursor:pointer; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; }
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 12.15px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(124, 32, 112, 0.14);
  border-radius: 12.6px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 4.7px 4.7px 10.4px #000031, 0px 0px 4.7px #00004b;
  border: 0px solid #000091;
  height: 28px;
  width: 32px;
  border-radius: 24px;
  background: #ff0035;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.15px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(214, 95, 198, 0.14);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(124, 32, 112, 0.14);
  border-radius: 12.6px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 4.7px 4.7px 10.4px #000031, 0px 0px 4.7px #00004b;
  border: 0px solid #000091;
  height: 28px;
  width: 32px;
  border-radius: 24px;
  background: #ff0035;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(2, 1, 2, 0.14);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 25.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(124, 32, 112, 0.14);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 25.2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 4.7px 4.7px 10.4px #000031, 0px 0px 4.7px #00004b;
  border: 0px solid #000091;
  height: 28px;
  width: 32px;
  border-radius: 24px;
  background: #ff0035;
  cursor: pointer;
  height: 3.7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(124, 32, 112, 0.14);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(214, 95, 198, 0.14);
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    text-shadow: 18px 12px 6px #666666;
    font-family: Courier New;
    color: #f20505;
    font-size: 42px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: absolute;
    top: 75%;
    left: 35%;
  }
  
  .btn:hover {
    background: #3cfc7f;
    background-image: -webkit-linear-gradient(top, #3cfc7f, #9cd934);
    background-image: -moz-linear-gradient(top, #3cfc7f, #9cd934);
    background-image: -ms-linear-gradient(top, #3cfc7f, #9cd934);
    background-image: -o-linear-gradient(top, #3cfc7f, #9cd934);
    background-image: linear-gradient(to bottom, #3cfc7f, #9cd934);
    text-decoration: none;
  }